<!-- Home template -->
{% extends 'main.html' %} {%block content %}
<section class="bg-dark text-light p-5 text-left">
  <div class="container">
    <div class="d-flex">
      <h3>Welcome! Here are some tips for getting started:</h3>
      <ol>
        <li>Login</li>
        <li>Generate Recipe</li>
        <li>Cook!</li>
        <li>
          If you have your own recipe, enter it and save it to your account
        </li>
        <li>Logout</li>
      </ol>
    </div>
  </div>
</section>

{% endblock content %}
