<!-- Profile template -->
{% extends 'main.html' %} {% block content%}
<section class="bg-light text-dark p-5 text-left">
  <div class="container">
    <hr />
    <form method="POST" action="">
      {% csrf_token %}
      <input type="Submit" value="Generate Random Recipe" />
      <hr />
      <h3>{{user.username}}'s List of Recipes</h3>
      <a href="{% url 'create-recipe'%}">Create My Own Recipe</a>
      <hr />
    </form>
    {% for recipe in recipes %}
    <div>
      {% if request.user == recipe.host %}
      <h5>
        <!-- {{room.id}} : -->
        <a href="{% url 'recipe' recipe.id %}">{{recipe.name}}</a>
      </h5>
      <small>{{recipe.cuisine.name}}</small>
      <a href="{% url 'update-recipe' recipe.id%}">Edit</a>-
      <a href="{% url 'delete-recipe' recipe.id%}">Delete</a>
      <hr />
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
{%endblock content%}
